@model IEnumerable<AiVacina.Models.Vacina>

@{ 
    if (Model != null && Model.Count() > 0)
    {
<select class="form-control margin-bottom-20px" id="selectListaVacinas">
    <option selected="selected">
        Escolha uma vacina
    </option>
    @foreach (var item in Model)
    {
        <option value="@Html.DisplayFor(modelItem => item.codVacina)">
            @Html.DisplayFor(modelItem => item.nomeVacina)
        </option>
    }
</select>
    }
    else
    {
        <h5>Nenhuma vacina foi encontrada.</h5>
    }
}