.divProximaVacina {
    position: fixed;
    display: none;
    top: 55%;
    left: 66%;
    padding: 20px 10px;
    border-radius:5px;
    border-style: solid;
    box-shadow: 10px 5px 15px #888888;
}

.subMenuEspacamento {
    margin: auto;
}
