

<div class="container">
    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("Agenda Posto", "Agenda", "Posto", new { @class = "btn btn-sm btn-outline-info" })
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Vacinas", "CadastrarVacinas", "Posto", new { @class = "btn btn-sm btn-outline-info" })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Carteira do Paciente", "CarteiraPaciente", "Posto", new { @class = "btn btn-sm btn-outline-info" })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Cadastro do Administrador", "CadastroAdministrador", "Posto", new { @class = "btn btn-sm btn-outline-info" })
        </div>
    </div>
</div>