@model IEnumerable<AiVacina.Models.Posto>



<div class="list-group" id="divListaPostos">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <a href="#" class="list-group-item linkPosto">
                <p class="nomePosto">
                    @Html.DisplayTextFor(modelItem => item.nomeEstabelecimento)
                </p>
                <small>@Html.DisplayFor(modelItem => item.endereco.rua)</small>
                <input type="hidden" value="@Html.DisplayTextFor(modelItem => item.idEstabelecimento)" id="idEstabelecimento"/>
                <input type="hidden" value="@Html.DisplayTextFor(modelItem => item.cnpj)" id="cnpjEstabelecimento" />
            </a>
        }
    }
    else
    {
        <h2>Não temos nenhum posto cadastrado.</h2>
    }
</div>
