
@{
    ViewBag.Title = "Dados para Teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dados para Testes</h2>


<br />
<div class="row">
    <div class="col-md-6">
        <h4>Pacientes</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <strong>Cartão Cidadão/CPF</strong>
    </div>
    <div class="col-md-2">
        <strong>Nome</strong>
    </div>
    <div class="col-md-2">
        <strong>Senha</strong>
    </div>
    <div class="col-md-2">
        <strong>Perfil</strong>
    </div>
    <div class="col-md-3">
        <strong>Observação</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        123.4567.8913.2413/056.565.465-46
    </div>
    <div class="col-md-2">
        Amora
    </div>
    <div class="col-md-2">
        senha123
    </div>
    <div class="col-md-2">
        Administrador
    </div>
    <div class="col-md-3">
        Pode ser usado para cadastrar administradores.
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        125.4789.3652.1432
    </div>
    <div class="col-md-2">
        Amelie
    </div>
    <div class="col-md-2">
        senha123
    </div>
    <div class="col-md-2">
        Paciente
    </div>
    <div class="col-md-3">
        -
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        111.1111.1111.1111
    </div>
    <div class="col-md-2">
        Bruno
    </div>
    <div class="col-md-2">
        123123
    </div>
    <div class="col-md-2">
        Paciente
    </div>
    <div class="col-md-3">
        -
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        125.4549.8679.8456
    </div>
    <div class="col-md-2">
        Aline Pires
    </div>
    <div class="col-md-2">
        senha123
    </div>
    <div class="col-md-2">
        Paciente
    </div>
    <div class="col-md-3">
        -
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        819.7382.9138.2737
    </div>
    <div class="col-md-2">
        Teste 5
    </div>
    <div class="col-md-2">
        123
    </div>
    <div class="col-md-2">
        Paciente
    </div>
    <div class="col-md-3">
        -
    </div>
</div>
<br />

<!-- --------------POSTOS-------------- -->
<div class="row">
    <div class="col-md-6">
        <h4>Postos</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <strong>Posto</strong>
    </div>
    <div class="col-md-2">
        <strong>CNPJ</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        123.4567.8913.2413/056.565.465-46
    </div>
    <div class="col-md-2">
        Amora
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        125.4789.3652.1432
    </div>
    <div class="col-md-2">
        Amelie
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        111.1111.1111.1111
    </div>
    <div class="col-md-2">
        Bruno
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        125.4549.8679.8456
    </div>
    <div class="col-md-2">
        Aline Pires
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        819.7382.9138.2737
    </div>
    <div class="col-md-2">
        Teste 5
    </div>
</div>