
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>AiVacina</h2>
            <h4>Sistema de gerenciamento de doses, estoques e agendamento de vacinas</h4>
        </div>
        @if (Session["Nome"] != null)
        {
            <p><h3>Bem vindo(a) </h3> <h1>@Session["Nome"].ToString()</h1></p>
        }
        else
        { 
        @*<div>
            <a href="@Url.Action("Cadastro", "Home")">Cadastro/Entrar</a>
        </div>*@
        }
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong>Cartão Cidadão</strong>
        </div>
        <div class="col-md-3">
            <strong>Nome</strong>
        </div>
        <div class="col-md-3">
            <strong>Senha</strong>
        </div>
        <div class="col-md-3">
            <strong>Perfil</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            123.4567.8913.2413
        </div>
        <div class="col-md-3">
            Amora
        </div>
        <div class="col-md-3">
            senha123
        </div>
        <div class="col-md-3">
            Administrador
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            123.4567.8913.2413
        </div>
        <div class="col-md-3">
            Amora
        </div>
        <div class="col-md-3">
            senha123
        </div>
        <div class="col-md-3">
            Administrador
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            125.4789.3652.1432
        </div>
        <div class="col-md-3">
            Amelie
        </div>
        <div class="col-md-3">
            senha123
        </div>
        <div class="col-md-3">
            Paciente
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            111.1111.1111.1111
        </div>
        <div class="col-md-3">
            Bruno
        </div>
        <div class="col-md-3">
            123123
        </div>
        <div class="col-md-3">
            Paciente
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            125.4549.8679.8456
        </div>
        <div class="col-md-3">
            Aline Pires
        </div>
        <div class="col-md-3">
            senha123
        </div>
        <div class="col-md-3">
            Paciente
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            819.7382.9138.2737
        </div>
        <div class="col-md-3">
            Teste 5
        </div>
        <div class="col-md-3">
            123
        </div>
        <div class="col-md-3">
            Paciente
        </div>
    </div>
</div>
