
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>AiVacina</h2>
            <h4>Sistema de gerenciamento de doses, estoques e agendamento de vacinas</h4>
        </div>
        @if (Session["Nome"] != null)
        {
            
        }
        else
        { 
        }
    </div>

    <br />
    <h5>Notícias</h5>
    <div class="row">
        <div class="col-md-12">
            <a href="http://www.saude.rs.gov.br/inicial">
                <img src="~/images/Index1.png" class="figure-img" style="width: 100%;" />
            </a>
        </div>
    </div>
   <!----------------------CAROUSEL------------------------------->
    

    <!----------------------CAROUSEL------------------------------->
</div>
